@section MiddleHeader {
    <div class="header-middle pt--10 pb--10">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-3 ">
                    <a href="index.html" class="site-brand">
                        <img src="~/assets/image/logo.png" alt="">
                    </a>
                </div>
                <div class="col-lg-3">
                    <div class="header-phone ">
                        <div class="icon">
                            <i class="fas fa-headphones-alt"></i>
                        </div>
                        <div class="text">
                            <p>Free Support 24/7</p>
                            <p class="font-weight-bold number">+01-202-555-0181</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="main-navigation flex-lg-right">
                        <ul class="main-menu menu-right ">
                            <li class="menu-item has-children">
                                <a href="javascript:void(0)">
                                    Home <i class="fas fa-chevron-down dropdown-arrow"></i>
                                </a>
                                <ul class="sub-menu">
                                    <li> <a asp-controller="home" asp-action="index">Home One</a></li>
                                    <li> <a asp-controller="home" asp-action="index">Home Two</a></li>
                                    <li> <a asp-controller="home" asp-action="index">Home Three</a></li>
                                    <li> <a asp-controller="home" asp-action="index">Home Four</a></li>
                                    <li> <a asp-controller="home" asp-action="index">Home Five</a></li>
                                </ul>
                            </li>
                            <!-- Shop -->
                            <li class="menu-item has-children mega-menu">
                                <a href="javascript:void(0)">
                                    shop <i class="fas fa-chevron-down dropdown-arrow"></i>
                                </a>
                                <ul class="sub-menu four-column">
                                    <li class="cus-col-25">
                                        <h3 class="menu-title"><a href="javascript:void(0)">Shop Grid </a></h3>
                                        <ul class="mega-single-block">
                                            <li><a href="shop-grid.html">Fullwidth</a></li>
                                            <li><a href="shop-grid-left-sidebar.html">left Sidebar</a></li>
                                            <li><a href="shop-grid-right-sidebar.html">Right Sidebar</a></li>
                                        </ul>
                                    </li>
                                    <li class="cus-col-25">
                                        <h3 class="menu-title"> <a href="javascript:void(0)">Shop List</a></h3>
                                        <ul class="mega-single-block">
                                            <li><a href="shop-list.html">Fullwidth</a></li>
                                            <li><a href="shop-list-left-sidebar.html">left Sidebar</a></li>
                                            <li><a href="shop-list-right-sidebar.html">Right Sidebar</a></li>
                                        </ul>
                                    </li>
                                    <li class="cus-col-25">
                                        <h3 class="menu-title">
                                            <a href="javascript:void(0)">
                                                Product Details
                                                1
                                            </a>
                                        </h3>
                                        <ul class="mega-single-block">
                                            <li><a href="product-details.html">Product Details Page</a></li>
                                            <li>
                                                <a href="product-details-affiliate.html">
                                                    Product Details
                                                    Affiliate
                                                </a>
                                            </li>
                                            <li>
                                                <a href="product-details-group.html">Product Details Group</a>
                                            </li>
                                            <li>
                                                <a href="product-details-variable.html">
                                                    Product Details
                                                    Variables
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="cus-col-25">
                                        <h3 class="menu-title">
                                            <a href="javascript:void(0)">
                                                Product Details
                                                2
                                            </a>
                                        </h3>
                                        <ul class="mega-single-block">
                                            <li>
                                                <a href="product-details-left-thumbnail.html">left Thumbnail</a>
                                            </li>
                                            <li>
                                                <a href="product-details-right-thumbnail.html">
                                                    Right
                                                    Thumbnail
                                                </a>
                                            </li>
                                            <li>
                                                <a href="product-details-left-gallery.html">Left Gallery</a>
                                            </li>
                                            <li>
                                                <a href="product-details-right-gallery.html">Right Gallery</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <!-- Pages -->
                            <li class="menu-item has-children">
                                <a href="javascript:void(0)">
                                    Pages <i class="fas fa-chevron-down dropdown-arrow"></i>
                                </a>
                                <ul class="sub-menu">
                                    <li><a asp-controller="pages" asp-action="cart">Cart</a></li>
                                    <li><a asp-controller="pages" asp-action="checkout">Checkout</a></li>
                                    <li><a asp-controller="pages" asp-action="compare">Compare</a></li>
                                    <li><a asp-controller="pages" asp-action="wishlist">Wishlist</a></li>
                                    <li><a asp-controller="pages" asp-action="loginRegister">Login Register</a></li>
                                    <li><a asp-controller="pages" asp-action="myAccount">My Account</a></li>
                                    <li><a asp-controller="pages" asp-action="orderComplate">Order Complete</a></li>
                                    <li><a asp-controller="pages" asp-action="faq">Faq</a></li>
                                </ul>
                            </li>
                            <!-- Blog -->
                            <li class="menu-item has-children mega-menu">
                                <a href="javascript:void(0)">
                                    Blog <i class="fas fa-chevron-down dropdown-arrow"></i>
                                </a>
                                <ul class="sub-menu three-column">
                                    <li class="cus-col-33">
                                        <h3 class="menu-title"><a href="javascript:void(0)">Blog Grid</a></h3>
                                        <ul class="mega-single-block">
                                            <li><a href="blog.html">Full Widh (Default)</a></li>
                                            <li><a href="blog-left-sidebar.html">left Sidebar</a></li>
                                            <li><a href="blog-right-sidebar.html">Right Sidebar</a></li>
                                        </ul>
                                    </li>
                                    <li class="cus-col-33">
                                        <h3 class="menu-title"><a href="javascript:void(0)">Blog List </a></h3>
                                        <ul class="mega-single-block">
                                            <!-- <li><a href="blog-list.html">Full Widh (Default)</a></li> -->
                                            <li><a href="blog-list-left-sidebar.html">left Sidebar</a></li>
                                            <li><a href="blog-list-right-sidebar.html">Right Sidebar</a></li>
                                        </ul>
                                    </li>
                                    <li class="cus-col-33">
                                        <h3 class="menu-title">
                                            <a href="javascript:void(0)">Blog Details</a>
                                        </h3>
                                        <ul class="mega-single-block">
                                            <li><a href="blog-details.html">Image Format (Default)</a></li>
                                            <li><a href="blog-details-gallery.html">Gallery Format</a></li>
                                            <li><a href="blog-details-audio.html">Audio Format</a></li>
                                            <li><a href="blog-details-video.html">Video Format</a></li>
                                            <li><a href="blog-details-left-sidebar.html">left Sidebar</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item">
                                <a href="contact.html">Contact</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<main class="page-section inner-page-sec-padding-bottom">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-12 col-xs-12 col-lg-6 mb--30 mb-lg--0">
				<!-- Login Form s-->
				<form action="#">
					<div class="login-form">
						<h4 class="login-title">New Customer</h4>
						<p><span class="font-weight-bold">I am a new customer</span></p>
						<div class="row">
							<div class="col-md-12 col-12 mb--15">
								<label for="email">Full Name</label>
								<input class="mb-0 form-control" type="text" id="name"
									   placeholder="Enter your full name">
							</div>
							<div class="col-12 mb--20">
								<label for="email">Email</label>
								<input class="mb-0 form-control" type="email" id="email" placeholder="Enter Your Email Address Here..">
							</div>
							<div class="col-lg-6 mb--20">
								<label for="password">Password</label>
								<input class="mb-0 form-control" type="password" id="password" placeholder="Enter your password">
							</div>
							<div class="col-lg-6 mb--20">
								<label for="password">Repeat Password</label>
								<input class="mb-0 form-control" type="password" id="repeat-password" placeholder="Repeat your password">
							</div>
							<div class="col-md-12">
								<a href="#" class="btn btn-outlined">Register</a>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="col-sm-12 col-md-12 col-lg-6 col-xs-12">
				<form action="https://demo.hasthemes.com/pustok-preview/pustok/">
					<div class="login-form">
						<h4 class="login-title">Returning Customer</h4>
						<p><span class="font-weight-bold">I am a returning customer</span></p>
						<div class="row">
							<div class="col-md-12 col-12 mb--15">
								<label for="email">Enter your email address here...</label>
								<input class="mb-0 form-control" type="email" id="email1"
									   placeholder="Enter you email address here...">
							</div>
							<div class="col-12 mb--20">
								<label for="password">Password</label>
								<input class="mb-0 form-control" type="password" id="login-password" placeholder="Enter your password">
							</div>
							<div class="col-md-12">
								<a href="#" class="btn btn-outlined">Login</a>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</main>